<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Je suis l'index</h1>
    <p th:text="${ @viewController.messageIndex }"></p>

    <form action="/index" method="post">
        <label for="name">Votre nom :</label>
        <input type="text" id="name" name="name">

        <label for="age">Votre age :</label>
        <input type="text" id="age" name="age">

        <button type="submit">Envoyer</button>
    </form>

    <p th:if="${ @viewController.msg }" th:text="${ @viewController.msg }"></p>


    <a href="page2">Lien vers la page 2</a>
</body>
</html>