<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
    <h1>Bonjour</h1>
    <form action="/inscript" method="post">

        <label for="name">Votre nom :</label>
        <input type="text" id="name" name="name">

        <label for="age">Votre age :</label>
        <input type="text" id="age" name="age">

        <label for="mdp">Mot de passe :</label>
        <input type="text" id="mdp" name="mdp">

        <button type="submit">Envoyer</button>
    </form>
</body>
</html>